UE-Project/

Capture-Process/Annotation
Capture-Process/AnnotationCoarse
Capture-Process/DepthVisImage
Capture-Process/InfraredImage
Capture-Process/SceneImage
Capture-Process/SegmentationImage
Capture-Process/SurfaceNormalsImage

process/Annotation
process/DepthPerspectiveImage
process/DepthPlanarImage
process/DepthVisImage
process/InfraredImage
process/PointCloud
process/Record
process/SceneImage
process/SegmentationImage
process/SegmentationNormalImage
process/SurfaceNormalsImage

process_updated/Annotation
process_updated/DepthPerspectiveImage
process_updated/DepthPlanarImage
process_updated/DepthVisImage
process_updated/InfraredImage
process_updated/PointCloud
process_updated/Record
process_updated/SceneImage
process_updated/SegmentationImage
process_updated/SegmentationNormalImage
process_updated/SurfaceNormalsImage

process.zip
process_1.zip

PromptCraft-Robotics
UAV-LODBoost

BACKUP